<!doctype html>
<html lang="en" data-ng-app="vocabs" data-ng-controller="MainCtrl">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/js/angular.min.js"></script>
  <script src="/static/js/angular-resource.min.js"></script>
  <!--script src="/static/js/ui-bootstrap-tpls-0.5.0.min.js"></script-->
  <script src="/static/js/general.js"></script>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/fontello/css/fontello.css" rel="stylesheet">
  <link href="/static/css/general.css" rel="stylesheet">
</head>
<body>
  <div class="container" style="max-width:750px;">

    <nav class="navbar navbar-default" role="navigation" style="padding: 0 10px">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Personal Vocabulary</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text"><img data-ng-src="{{user.picture}}" class="img-responsive img-rounded navbar-right navbar-text" style="height:20px; width:20px"/> Signed in as {{user.name}}</p></li>
        <li><a data-ng-href="#" data-ng-click="logout()">Logout</a></li>
      </ul-->
    </nav>

    <table class="table-hover table table-condensed">
      <thead>
        <tr>
          <th>Vocabulary name</th>
          <th></th>
        </tr>
        <tr class="success">
          <td><input type="text" data-ng-model="new_vocabulary_name" class="form-control" placeholder="New vocabulary" data-ng-keypress="create_collection_event($event)"></td>
          <td><a data-ng-href="" class="btn btn-default btn-icon" data-ng-click="create_collection()"><i class="icon-list-add"></i></a></td>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="collection in collections track by $index">
          <td><a data-ng-href="#/list/{{collection}}" data-ng-click="set_current_collection(collection)">{{collection}}</a></td>
          <td>
            <a data-ng-href="" class="btn btn-default btn-icon" data-ng-click="delete_collection(collection)"><i class="icon-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="alert alert-info" data-ng-show="alerts.loading">Loading...</div>
    <div data-ng-view></div>
  </div>

</body>
</html>
