@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?55605934');
  src: url('../font/fontello.eot?55605934#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?55605934') format('woff'),
       url('../font/fontello.ttf?55605934') format('truetype'),
       url('../font/fontello.svg?55605934#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?55605934#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-pencil:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-list-add:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e809'; } /* '' */
.icon-eye-off:before { content: '\e80a'; } /* '' */
.icon-trash:before { content: '\e800'; } /* '' */
.icon-archive:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */
.icon-exchange:before { content: '\e808'; } /* '' */
.icon-sort-name-up:before { content: '\e80c'; } /* '' */
.icon-sort-alt-up:before { content: '\e801'; } /* '' */
.icon-down:before { content: '\e80d'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-clock:before { content: '\e80e'; } /* '' */