td > input {
	height: 22px !important;
}

.icon-long-arrow-down {
	margin-left: 10px;
	margin-right: 10px;
}

.btn-icon {
	padding: 0 !important;
}

.nav>li>p {
	position: relative;
	display: block;
	padding: 10px 15px;
	float: none;
	margin: 0;
}

.navbar-nav {
	margin: 0;
}

.navbar-nav>li>p {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
}

.navbar-nav>li img {
	display: inline !important;
	float: none !important;
	margin: 0 !important;
}